.pipi-h5-top {
  * {
    margin: 0;
    padding: 0;
  }

  .pipi-h5-full-top-head {
    background-color: transparent;
    width: 100%;

    @at-root &_fixed {
      position: fixed;
      z-index: 20;
      top: 0;
      left: 0;

      &.right-tools {
        left: auto;
        right: 0;
      }
    }

    &_bd {
      height: 88px;
      position: relative;
      display: flex;
      align-items: center;
    }

    &_placeholder {
      height: 10Px;
      /*ignore*/

      @at-root .full-head-android & {
        height: 30Px;
        /*ignore*/
      }

      @at-root .full-head-iphoneX & {
        height: 44Px;
        /*ignore*/
      }

      @at-root .full-head-iphone & {
        height: 20Px;
        /*ignore*/
      }
    }

    &_left {
      flex-shrink: 0;
      height: 100%;
    }

    &_right {
      position: relative;
      z-index: 4;
      margin-left: auto;
      flex-shrink: 0;
      height: 100%;
    }

    &_back {
      position: relative;
      z-index: 4;
      width: 58px;
      height: 100%;

      background: {
        size: 36px 36px;
        image: url('images/back-white.png');
        repeat: no-repeat;
        position: right center;
      }
    }

    &_center {
      position: absolute;
      flex-grow: 1;
      display: flex;
      align-items: center;
      z-index: 2;
      width: 100%;
      left: 0;
      top: 0;
      height: 100%;
      color: #fff;
      justify-content: center;
      font-size: 34px;
    }
  }

  .share-head-down {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    width: 100%;
    height: 112px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;

    .logo-icon {
      width: 76px;
      height: 76px;

      background: {
        size: 100% 100%;
        repeat: no-repeat;
        position: center center;
        image: url('./images/logo.png');
      }
    }

    .detail {
      padding-left: 17px;
    }

    .name {
      font-size: 28px;
      color: #333333;
      font-weight: bold;
    }

    .remark {
      font-size: 22px;
      color: #666;
    }

    .down-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      width: 160px;
      height: 66px;
      background: rgba(255, 65, 87, 1);
      border-radius: 33px;
      font-size: 27px;
      color: #fff;
      text-decoration: none;
    }
  }
}